{% extends "base.html" %}
{% block content %}
<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="text-center mb-4">
            <h2 class="fw-bold text-white">Submit a Request</h2>
            <p class="text-white opacity-75">Our system will automatically detect the urgency of your issue.</p>
        </div>
        <form action="/submit" method="POST" class="glass-card p-5">
            
            <div class="mb-3">
                <label class="form-label fw-semibold">Student Email</label>
                <input type="email" name="email" class="form-control" required>
            </div>

            <div class="mb-3">
                <label class="form-label fw-semibold">Room Number</label>
                <input type="text" name="room" class="form-control" required>
            </div>
            <div class="mb-3">
                <label class="form-label fw-semibold">Category</label>
                <select name="category" class="form-select" required>
                    <option value="" disabled selected>Select a Category...</option>
                    <option value="Electricity">Electricity</option>
                    <option value="Water">Water</option>
                    <option value="Food">Food</option>
                    <option value="WiFi">WiFi</option>
                    <option value="Room">Room Maintenance</option>
                    <option value="Other">Other</option>
                </select>
            </div>
            <div class="mb-4">
                <label class="form-label fw-semibold">Detailed Description</label>
                <textarea name="description" class="form-control" rows="4" required></textarea>
            </div>
            <button type="submit" class="btn btn-light w-100 py-2 fw-bold text-dark">Submit Complaint</button>
        </form>
    </div>
</div>
{% endblock %}